@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-card{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mv__navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}
.mv__navigation button{
  padding: 12px 30px;
  border: none;
  border-left: 0px solid white;
  -webkit-transform: skewX(-5deg);
  transform: skewX(-5deg);
  background: #4fd378;
  margin: 0 3px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 15%;
}
.mv__movie__box{
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.mv__movie__box .ant-col-6{
  width: 23%;
  background: #fff;
  margin-bottom: 60px;
  border-radius: 6px;
  box-shadow: 0 0 32px 1px #00000024;
}
.mv__movie__box .ant-card-bordered{
  border: none;
}
.movie__title{
  margin-bottom: 5px;
  padding: 5px 0px;
}
.movie__title h3{
  margin: 0;
  font-weight: 800;
  background: rgba(103, 210, 49, 0.04);
  color: #52c41a;
  padding: 10px 0;
}
.movie__desc__grid{
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.movie_details{
  background: #5de551;
  border: 1px solid transparent;
  color: white;
  margin: 25px 0 0;
  height: 45px;
  font-size: 20px;
  transform: skew(-4deg);
}
.movie_details:hover,.movie_details:focus,.movie_details:active{
  border: 1px solid #5de551;
  background: transparent;
  color: #5de551;
  font-weight: 600;
}
.movie__fullDsc .ant-drawer-header{
  background: #00d07f;
  border-radius:0;
}
.movie__fullDsc .ant-drawer-title{
  color: #FFF;
}
.movie__fullDsc .ant-drawer-close-x{
  color: #FFF;
}
.movie__fullDsc  .ant-drawer-body{
  padding: 0px;
}
.fulldsc__description{
  padding: 30px;
}
.fulldsc__description .ant-avatar{
  margin-right: 10px;
}
.App-link {
  color: #61dafb;
}
.mv__wrapper {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.mv__thumb {
  min-height: 350px;
  width: 21%;
  margin-bottom: 35px;
  box-shadow: 0 0 38px 2px rgba(230, 230, 230, 0.72);
  border-radius: 6px;
  position: relative;
}
.mv__thumb__img {
  position: relative;
}
.mv__thumb__img img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.mv__rating {
  position: absolute;
  bottom: -15px;
  right: 15px;
  background: #ffffff;
  text-align: center;
  border-radius: 50%;
  font-weight: 600;
  color: #006724;
  padding: 15px 12px;
  box-shadow: 0px 3px 21px 1px rgba(0, 0, 0, 0.12);
  min-width: 25px;
  transition: 0.3s ease-in;
}
.mv__description {
  display: flex;
  padding: 25px 15px 15px 15px;
  flex-wrap: wrap;
}
.mv__vote__count {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-bottom: 15px;
}
.mv__popularity {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  margin-bottom: 15px;
}
.mv__release__date {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}
.mv__release__date span,
.mv__popularity span,
.mv__vote__count span {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5607843137254902);
  padding-left: 10px;
}
.mv__more {
  width: 50%;
  text-align: right;
}
.mv__button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 8px 20px;
  border: none;
  background: #006724;
  font-weight: 600;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.mv__thumb:hover .mv__rating {
  background: #006724;
  color: #ffffff;
}
.mv__pagination {
  padding: 15px;
}
.mv__pagination ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style-type: none;
}
.mv__pagination li a {
  padding: 10px 15px;
  background: #ffffff;
  box-shadow: 0 0 19px 8px #e2e2e22b;
  color: #00e45f;
  font-weight: 600;
  cursor: pointer;
  margin: 0 2px;
}
.mv__pagination .active a {
  background: #40e450;
  color: #fff;
}
.mv__pagination .active a:hover {
  background: #40e450;
  color: #fff;
}
.mv__pagination .active a:active {
  box-shadow: none;
  outline: none;
}
.mv__pagination .active a:focus {
  box-shadow: none;
  outline: none;
}
.mv__watched {
  background: #00d17bd1;
  position: absolute;
  top: 0;
  z-index: 111;
  width: 40%;
  padding: 10px;
  left: 0;
  font-size: 20px;
  font-weight: 600;
  color: #fefefe;
  border: 2px solid #00d07f;
}

/* movie details */
.mv__details {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(41, 113, 48, 0.98);
  z-index: 11111;
  top: 0;
  right: -100%;
  transition: 0.3s all;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  position: fixed;
}
.close__details {
  position: fixed;
  left: 10%;
  top: 0px;
  background: #bbd6c2;
  padding: 11px 14px;
  cursor: pointer;
  border-radius: 0px 0px 10px 0px;
}
.des__box{
  display: flex;
  margin-right: 10%;
  padding: 10px 30px;
  color: #fff;
}
.des__left{
  width:50%;
  text-align: left;
  padding-left: 30px;
}
.des__left p {
  font-weight: 600;
  transform: skew(2deg);
}
.tag__title{
  font-size: 20px;
  font-weight: 800;
  color: #1bd21b75;
  padding-right: 10px;
}
.des__right{
  width: 50%;
}
.des__right p {
  line-height: 1.5;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
